---
# dataverse/tasks/dataverse-solr.yml

- name: ensure EPEL repository for RedHat/CentOS 7
  yum: name=epel-release state=latest
  when: ansible_os_family == "RedHat" and
        ansible_distribution_major_version == "7"

- name: install Solr pre-reqs for RedHat/CentOS 7
  yum:
    name: ['java-1.8.0-openjdk-devel', 'lsof']
    state: latest
  when: ansible_os_family == "RedHat" and
        ansible_distribution_major_version == "7"

- name: create solr service group
  group: name="{{ dataverse.solr.group }}" state=present
  when: dataverse.solr.group != "root"

- name: create solr service account
  user: name="{{ dataverse.solr.user }}" group="{{ dataverse.solr.group }}"
        createhome=no comment="Dataverse Solr user"
  when: dataverse.solr.user != "root"

- name: download and unzip solr
  get_url: url="https://archive.apache.org/dist/lucene/solr/{{ dataverse.solr.version }}/solr-{{ dataverse.solr.version }}.tgz" dest=/tmp

- name: untar solr
  shell: "tar xvzC /tmp -f /tmp/solr-{{ dataverse.solr.version }}.tgz"

- name: remove solr root directory
  file: path="{{ dataverse.solr.root }}" state=absent

- name: ensure solr directory exists
  file: path="{{ dataverse.solr.root }}" state=directory
        owner=root group=root mode=0755

- name: copy solr distro files into solr root
  shell: "/bin/cp -r /tmp/solr-{{ dataverse.solr.version }}/* {{ dataverse.solr.root }}"

- name: solr doesn't create its log directory until runtime
  file: path="{{ dataverse.solr.root }}/server/logs" state=directory
        owner="{{ dataverse.solr.user }}" group="{{ dataverse.solr.group }}" mode=0755

- name: populate collection1
  shell: "/bin/cp -r {{ dataverse.solr.root }}/server/solr/configsets/_default {{ dataverse.solr.root }}/server/solr/collection1"

- name: solr user needs to own some of the subdirectories to run non-root
  file: path="{{ item }}" state=directory recurse=yes
        owner="{{ dataverse.solr.user }}" group="{{ dataverse.solr.group }}"
  with_items:
    - "{{ dataverse.solr.root }}/server/solr/collection1"
    - "{{ dataverse.solr.root }}/bin"

- name: clean up solr distro files
  file: path="/tmp/solr-{{ dataverse.solr.version }}" state=absent

- name: "release: place solr schema"
  copy:
    src: "/tmp/dvinstall/schema.xml"
    dest: "{{ dataverse.solr.root }}/server/solr/collection1/conf/"
    owner: "{{ dataverse.solr.user }}"
    group: "{{ dataverse.solr.group }}"
    mode: 0644
    remote_src: yes
  when: dataverse_branch == "release"

- name: "branch: identify solr schema files"
  find:
    paths: '{{ dataverse.srcdir }}/conf/solr/'
    file_type: file
    use_regex: yes
    recurse: yes
    patterns: 'schema*'
  register: solr_files
  when: dataverse_branch != "release"

- name: "branch: place solr schema files"
  copy:
    src: '{{ item }}'
    dest: '{{ dataverse.solr.root }}/server/solr/collection1/conf'
    owner: '{{ dataverse.solr.user }}'
    group: '{{ dataverse.solr.group }}'
    mode: 0644
    remote_src: yes
  with_items:
  - "{{ solr_files.files | map(attribute='path') | list }}"
  when: dataverse_branch != "release" and
        solr_files > 0

- name: "release: place solrconfig"
  copy:
        src: "/tmp/dvinstall/solrconfig.xml"
        dest: "{{ dataverse.solr.root }}/server/solr/collection1/conf/"
        owner: "{{ dataverse.solr.user }}"
        group: "{{ dataverse.solr.group }}"
        mode: 0644
        remote_src: yes
  when: dataverse_branch == "release"

- name: "branch: place solrconfig"
  copy:
        src: "{{ dataverse.srcdir }}/conf/solr/{{ dataverse.solr.version }}/solrconfig.xml"
        dest: "{{ dataverse.solr.root }}/server/solr/collection1/conf/"
        owner: "{{ dataverse.solr.user }}"
        group: "{{ dataverse.solr.group }}"
        mode: 0644
        remote_src: yes
  when: dataverse_branch != "release"

#- name: adjust jetty.xml requestHeaderSize
#  replace:
#        dest: "{{ dataverse.solr.root }}/server/etc/jetty.xml"
#        regexp: >-
#           '(\s+.*)\"solr\.jetty\.request\.header\.size\" default=\"8192\"(\s+.*)'
#        replace: >-
#           \1'\"solr\.jetty\.request\.header\.size\" default=\"102400\"'\2
#        backup: yes

# because vagrant VM still has ansible-1.9
- name: remove requestHeaderSize
  lineinfile:
        dest: "{{ dataverse.solr.root }}/server/etc/jetty.xml"
        regexp: "requestHeaderSize"
        state: absent        

- name: insert requestHeaderSize
  lineinfile:
        dest: "{{ dataverse.solr.root }}/server/etc/jetty.xml"
        line: '    <Set name="requestHeaderSize"><Property name="solr.jetty.request.header.size" default="102400" /></Set>'
        insertafter: "outputAggregationSize"
        state: present

- name: install solr upstart script for Debian/Ubuntu
  copy: src=solr.conf dest=/etc/init owner=root group=root mode=0644
  when: ansible_os_family == "Debian"

- name: install solr systemd conf file for RedHat/CentOS
  template: src=solr.service.j2 dest=/usr/lib/systemd/system/solr.service
        owner=root group=root mode=0644
  when: ansible_os_family == "RedHat" and
        ansible_distribution_major_version == "7"

- name: increase resource limits for solr
  blockinfile:
    path: /etc/security/limits.conf
    block: |
      {{ item.user }} {{ item.type }} {{ item.descriptor }} {{ item.value }}
  with_items:
    - { user: "{{ dataverse.solr.user }}", type: soft, descriptor: nproc, value: 65000 }
    - { user: "{{ dataverse.solr.user }}", type: hard, descriptor: nproc, value: 65000 }
    - { user: "{{ dataverse.solr.user }}", type: soft, descriptor: nofile, value: 65000 }
    - { user: "{{ dataverse.solr.user }}", type: hard, descriptor: nofile, value: 65000 }

- name: reload systemd
  shell: systemctl daemon-reload
  when: ansible_os_family == "RedHat" and
        ansible_distribution_major_version == "7"

- name: enable solr on boot, start solr
  service: name=solr enabled=yes state=started
  when: ansible_os_family == "RedHat" and
        ansible_distribution_major_version == "7"

- name: create collection1 core
  shell: "{{ dataverse.solr.root }}/bin/solr create_core -c collection1 -d {{ dataverse.solr.root }}/server/solr/collection1/conf/"
  become: yes
  become_user: "{{ dataverse.solr.user }}"
