#!/bin/bash

ALIAS=$1
PASSWORD=$2

PASSWORDFILE="/dev/shm/`basename $0`.pwd"

touch "$PASSWORDFILE"
chmod 0600 "$PASSWORDFILE"
echo "AS_ADMIN_ALIASPASSWORD=$PASSWORD" > "$PASSWORDFILE"

if {{ payara_dir}}/bin/asadmin list-password-aliases | grep -q "^$ALIAS$"
then
	echo "$ALIAS" already specified, replacing.
	{{ payara_dir}}/bin/asadmin --passwordfile "$PASSWORDFILE" update-password-alias $ALIAS
else
	{{ payara_dir}}/bin/asadmin --passwordfile "$PASSWORDFILE" create-password-alias $ALIAS
fi

rm "$PASSWORDFILE"
