#!/usr/bin/env bash

DOI_BASEURL={{ dataverse_doi_baseurl }}
DOI_USERNAME={{ dataverse_doi_username }}
DOI_PASSWORD={{ dataverse_doi_password }}
DEF_BASEURL="https\://mds.test.datacite.org"

ASADMIN={{ dataverse.glassfish.root }}/bin/asadmin

if [ ! -z "$DOI_BASEURL" ] && [[ ! $DOI_BASEURL == *mds.test.datacite.org* ]]; then
        $ASADMIN delete-jvm-options "-Ddoi.baseurlstring=$DEF_BASEURL"
        DOI_BASEURL_ESC=`echo $DOI_BASEURL | sed -e 's/:/\\:/'`
        $ASADMIN create-jvm-options "\"-Ddoi.baseurlstring=$DOI_BASEURL_ESC\""
fi
if [ ! -z "$DOI_USERNAME" ]; then
        $ASADMIN create-jvm-options "-Ddoi.username=$DOI_USERNAME"
fi
if [ ! -z "$DOI_PASSWORD" ]; then
        $ASADMIN create-jvm-options "-Ddoi.password=$DOI_PASSWORD"
fi
