#!/usr/bin/env bash

DOI_BASEURL={{ dataverse.doi.baseurl }}
DOI_USERNAME={{ dataverse.doi.username }}
DOI_PASSWORD={{ dataverse.doi.password }}
DEF_BASEURL="https\://mds.test.datacite.org"

ASADMIN={{ glassfish_dir }}/bin/asadmin

if [ ! -z "$DOI_BASEURL" ] && [[ ! $DOI_BASEURL == *mds.test.datacite.org* ]]; then
        $ASADMIN delete-jvm-options "\"-Ddoi.baseurlstring=$DEF_BASEURL""
        DOI_BASEURL_ESC=`echo $DOI_BASEURL | sed -e 's/:/\\:/'`
        $ASADMIN create-jvm-options "\"-Ddoi.baseurlstring=$DOI_BASEURL_ESC\""
fi
if [ ! -z "$DOI_USERNAME" ]; then
        $ASADMIN create-jvm-options "-Ddoi.username=$DOI_USERNAME"
fi
if [ ! -z "$DOI_PASSWORD" ]; then
        $ASADMIN create-jvm-options "-Ddoi.password=$DOI_PASSWORD"
fi
