ADMIN_EMAIL	 	{{ dataverse.service_email }}
GLASSFISH_DIRECTORY	{{ glassfish_dir }}
HOST_DNS_ADDRESS	{{ servername }}
MAIL_SERVER		{{ dataverse.smtp }}
POSTGRES_ADMIN_PASSWORD	{{ db.postgres.admin_pass }}
POSTGRES_SERVER		{{ db.postgres.host }}
POSTGRES_PORT		{{ db.postgres.port }}
POSTGRES_DATABASE	{{ db.postgres.name }}
POSTGRES_USER		{{ db.postgres.user }}
POSTGRES_PASSWORD	{{ db.postgres.pass }}
RSERVE_HOST		{{ rserve.host }}
RSERVE_PORT		{{ rserve.port }}
RSERVE_USER		{{ rserve.user }}
RSERVE_PASSWORD		{{ rserve.pass }}
SOLR_LOCATION		localhost:8983
TWORAVENS_LOCATION	NOT INSTALLED
