ADMIN_EMAIL	 	{{ dataverse.service_email }}
GLASSFISH_DIRECTORY	{{ glassfish_dir }}
HOST_DNS_ADDRESS	{{ dataverse.service_name }}
MAIL_SERVER		{{ dataverse.smtp }}
POSTGRES_ADMIN_PASSWORD	{{ dataverse.db.admin_pass }}
POSTGRES_SERVER		{{ dataverse.db.host }}
POSTGRES_PORT		{{ dataverse.db.port }}
POSTGRES_DATABASE	{{ dataverse.db.name }}
POSTGRES_USER		{{ dataverse.db.user }}
POSTGRES_PASSWORD	{{ dataverse.db.pass }}
RSERVE_HOST		{{ rserve.host }}
RSERVE_PORT		{{ rserve.port }}
RSERVE_USER		{{ rserve.user }}
RSERVE_PASSWORD		{{ rserve.pass }}
SOLR_LOCATION		localhost:8983
TWORAVENS_LOCATION	NOT INSTALLED
