# Job configuration info
description "Payara5"

# Instance per domain
instance {{ dataverse.payara.domain }}

# log to server.log
console none

# Run as payara service account
setuid {{ dataverse.payara.user }}
setgid {{ dataverse.payara.group }}
umask 0022
chdir {{ payara_dir }}

# start
exec {{ payara_dir }}/bin/asadmin start-domain {{ dataverse.payara.domain }}

# stop
pre-stop exec {{ payara_dir }}/bin/asadmin stop-domain {{ dataverse.payara.domain }}
