[Unit]
Description = GlassFish Server v4.1
After = syslog.target network.target

[Service]
User={{ dataverse.glassfish.user }}
ExecStart = /usr/bin/java -jar {{ dataverse.glassfish.root }}/glassfish/lib/client/appserver-cli.jar start-domain
ExecStop = /usr/bin/java -jar {{ dataverse.glassfish.root }}/glassfish/lib/client/appserver-cli.jar stop-domain
ExecReload = /usr/bin/java -jar {{ dataverse.glassfish.root }}/glassfish/lib/client/appserver-cli.jar restart-domain
Type = forking

[Install]
WantedBy = multi-user.target
