{% if apache.ssl.enabled %}
<IfModule ssl_module>
  {% if ansible_os_family == "RedHat" %}
Listen 443 https
  {% endif %}

  {% if ansible_os_family == "RedHat" %}
  SSLPassPhraseDialog exec:/usr/libexec/httpd-ssl-pass-dialog
  {% endif %}
  SSLSessionCache         shmcb:/run/httpd/sslcache(512000)
  SSLSessionCacheTimeout  300
  SSLRandomSeed startup file:/dev/urandom  256
  SSLRandomSeed connect builtin
  SSLCryptoDevice builtin
</IfModule>

<VirtualHost _default_:{{ apache.ssl.port }}>
{% else %}
<VirtualHost _default_:{{ apache.port }}>
{% endif %}

{% if apache.behind_ssl_reverse_proxy %}
  ServerName https://{{ servername }}
  <IfModule shib_module>
    ShibURLScheme https
  </IfModule>
{% else %}
  ServerName {{ servername }}
{% endif %}

{% if apache.ssl.enabled %}
    <IfModule ssl_module>
  {% if ansible_os_family == "RedHat" %}
      ErrorLog logs/ssl_error_log
      TransferLog logs/ssl_access_log
  {% endif %}
    LogLevel warn

    SSLEngine on
    SSLProtocol all -SSLv2
    SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5
  {% if apache.ssl.remote_cert %}
    SSLCertificateFile {{ apache.ssl.cert }}
    SSLCertificateKeyFile {{ apache.ssl.key }}
    SSLCertificateChainFile {{ apache.ssl.interm }}
  {% elif apache_ssl_cert is defined %}
    SSLCertificateFile /etc/pki/tls/certs/{{ apache_ssl_cert }}
    SSLCertificateKeyFile /etc/pki/tls/private/{{ apache_ssl_key }}
    SSLCertificateChainFile /etc/pki/tls/certs/{{ apache_ssl_interm }}
  {% endif %}

    <Files ~ "\.(cgi|shtml|phtml|php3?)$">
      SSLOptions +StdEnvVars
    </Files>
    <Directory "/var/www/cgi-bin">
      SSLOptions +StdEnvVars
    </Directory>

  {% if ansible_os_family == "RedHat" %}
    CustomLog logs/ssl_request_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
  {% endif %}
  </IfModule>
{% endif %}

  <Location "/prometheus">
    ProxyPass "http://localhost:9090/prometheus"
    ProxyPassReverse "http://localhost:9090/prometheus"
  </Location>

  <Location "/grafana">
    ProxyPass "http://localhost:3000"
    ProxyPassReverse "http://localhost:3000"
  </Location>

  # custom error document when Glassfish isn't responding
  ErrorDocument 503 /503.html
  ProxyPassMatch ^/503.html$ !

  # don't pass paths used by rApache and TwoRavens to Glassfish
  ProxyPassMatch ^/RApacheInfo$ !
  ProxyPassMatch ^/custom !
  ProxyPassMatch ^/dataexplore !

  # allow munin
  ProxyPassMatch ^/munin !

{% if shibboleth.enabled %}

  <IfModule mod_shib>
    # don't pass paths used by Shibboleth to Glassfish
    ProxyPassMatch ^/Shibboleth.sso !
    ProxyPassMatch ^/shibboleth-ds !
    ProxyPassMatch ^/shibboleth-sp !

    <Location /shib.xhtml>
      AuthType shibboleth
      ShibRequestSetting requireSession 1
      require shibboleth
    </Location>
  </IfModule>
{% endif %}

  # pass everything else to Glassfish
  ProxyPass / ajp://localhost:8009/

</VirtualHost>
