[prompts]
ADMIN_EMAIL = {{ dataverse.service_email }}
GLASSFISH_ADMIN_USER = {{ dataverse.glassfish.adminuser }}
GLASSFISH_ADMIN_PASSWORD = {{ dataverse.glassfish.adminpass }}
GLASSFISH_DIRECTORY = {{ dataverse.glassfish.dir }}.
GLASSFISH_HEAP = {{ dataverse.memheap }}
GLASSFISH_USER = {{ dataverse.glassfish.user }}
POSTGRES_ONLY =
POSTGRES_ADMIN_PASSWORD = Postgres ADMIN password
POSTGRES_SERVER = {{ dataverse.db.host }}
POSTGRES_PORT = {{ dataverse.db.port }}
POSTGRES_DATABASE = {{ dataverse.db.name }}
POSTGRES_USER = {{ dataverse.db.user }}
POSTGRES_PASSWORD = {{ dataverse.db.pass }}
RSERVE_HOST = {{ rserve.host }}
RSERVE_PORT = {{ rserve.port }}
RSERVE_USER = {{ rserve.user }}
RSERVE_PASSWORD = {{ rserve.pass }}
HOST_DNS_ADDRESS = {{ public_hostname }}
MAIL_SERVER = {{ dataverse.smtp }}
SOLR_LOCATION = {{ solr_url }}
TWORAVENS_LOCATION =
DOI_USERNAME = {{ dataverse.doi.username }}
DOI_PASSWORD = {{ dataverse.doi.password }}'
DOI_BASEURL = {{ dataverse.doi.baseurl }}'
DOI_MDCBASEURL = {{ dataverse.doi.mdcbaseurl }}'
[comments]
HOST_DNS_ADDRESS = :(enter numeric IP address, if FQDN is unavailable)
GLASSFISH_USER = :This user will be running Glassfish service on your system.\n - If this is a dev. environment, this should be your own username; \n - In production, we suggest "glassfish" or another unprivileged user\n:
GLASSFISH_DIRECTORY = 
ADMIN_EMAIL = :\n(please enter a valid email address!) 
MAIL_SERVER = 
POSTGRES_SERVER = 
POSTGRES_PORT = 
POSTGRES_ADMIN_PASSWORD = :\n - We will need this to create the user and database that the Dataverse application will be using.\n (Hit RETURN if access control is set to "trust" for this connection in pg_hba.conf)\n:
POSTGRES_USER = :\n - This is the Postgres user that the Dataverse app will be using to talk to the database\n:
POSTGRES_DATABASE = 
POSTGRES_PASSWORD = 
SOLR_LOCATION = ? \n - Leave this set to "LOCAL" if the SOLR will be running on the same (this) server.\n Otherwise, please enter the host AND THE PORT NUMBER of the remote SOLR service, colon-separated\n (for example: foo.edu:8983)\n: 
RSERVE_HOST = 
RSERVE_PORT = 
RSERVE_USER = 
RSERVE_PASSWORD = 
DOI_USERNAME = DataCite or EZID username. Only necessary for publishing / minting DOIs.
DOI_PASSWORD = DataCite or EZID account password.
DOI_BASEURL = DataCite or EZID URL. Probably https://mds.datacite.org
DOI_MDCBASEURL = DataCite Make Data Count API base URL. Probably https://api.datacite.org
