version: '4.2'

services:
  localstack:
    container_name: "{{ localstack.container_name }}"
    image: localstack/localstack:4.2
    ports:
      - "127.0.0.1:4566:4566"
    environment:
      - DEBUG={{ localstack.debug }}
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "./localstack-data:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
    tmpfs:
      - /localstack:mode=770,size=128M,uid=1000,gid=1000