<!--
This is an example shibboleth2.xml generated originally by http://testshib.org
and tweaked for Dataverse.  See also:

- attribute-map.xml
- dataverse-idp-metadata.xml

https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPConfiguration
-->

<SPConfig xmlns="urn:mace:shibboleth:2.0:native:sp:config" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"
    clockSkew="1800">

    <!-- FIXME: change the entityID to your hostname. -->
    <ApplicationDefaults entityID="https://{{ dataverse.glassfish.siteurl }}/sp"
        REMOTE_USER="eduPersonPrincipalName" attributePrefix="AJP_">

        <!-- You should use secure cookies if at all possible.  See cookieProps in this Wiki article. -->
        <!-- https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPSessions -->
        <Sessions lifetime="28800" timeout="3600" checkAddress="false" relayState="ss:mem" handlerSSL="false">

            {{ shibboleth.SSO }}

            <!-- SAML and local-only logout. -->
            <!-- https://wiki.shibboleth.net/confluence/display/SHIB2/NativeSPServiceLogout -->
            <Logout>SAML2 Local</Logout>

            <!--
                Handlers allow you to interact with the SP and gather more information.  Try them out!
                Attribute values received by the SP through SAML will be visible at:
                http://shibtest.dataverse.org/Shibboleth.sso/Session
            -->

            <!-- Extension service that generates "approximate" metadata based on SP configuration. -->
            <Handler type="MetadataGenerator" Location="/Metadata" signing="false" http="false" https="true">
{% for item in shibboleth.requestedAttributes %}
                {{ item }}
{% endfor %}
{% for item in shibboleth.contactPerson %}
               <md:ContactPerson contactType="{{ item.type }}">
                    <md:GivenName>{{ item.givenName }}</md:GivenName>
                    <md:SurName>{{ item.surName }}</md:SurName>
                    <md:EmailAddress>{{ item.emailAddress }}</md:EmailAddress>
               </md:ContactPerson>
{% endfor %}
{% for item in shibboleth.UIInfo %}
               <mdui:UIInfo xmlns:mdui="urn:oasis:names:tc:SAML:metadata:ui">
                   <mdui:DisplayName xml:lang="{{ item.lang }}">{{ item.DisplayName }}</mdui:DisplayName>
                   <mdui:Description xml:lang="{{ item.lang }}">{{ item.Description }}</mdui:Description>
                   <mdui:InformationURL xml:lang="{{ item.lang }}">{{ item.InformationURL }}</mdui:InformationURL>
                   <mdui:PrivacyStatementURL xml:lang="{{ item.lang }}">{{ item.PrivacyStatementURL }}</mdui:PrivacyStatementURL>
{% if item.Logo is defined %}
                   <mdui:Logo height="{{ item.Logo.height }}" width="{{ item.Logo.width }}" xml:lang="{{ item.lang }}">{{ item.Logo.url }}</mdui:Logo>
{% endif %}
               </mdui:UIInfo>
{% endfor %}
            </Handler>

            <!-- Status reporting service. -->
            <Handler type="Status" Location="/Status" acl="127.0.0.1"/>

            <!-- Session diagnostic service. -->
            <Handler type="Session" Location="/Session" showAttributeValues="true"/>

            <!-- JSON feed of discovery information. -->
            <Handler type="DiscoveryFeed" Location="/DiscoFeed"/>

        </Sessions>

        <!-- Error pages to display to yourself if something goes horribly wrong. -->
        <Errors supportContact="root@localhost" logoLocation="/shibboleth-sp/logo.jpg"
                styleSheet="/shibboleth-sp/main.css"/>

        <!-- Loads and trusts a metadata file that describes only the Testshib IdP and how to communicate with it. -->
        <!-- IdPs we want allow go in /etc/shibboleth/dataverse-idp-metadata.xml -->
        {{ shibboleth.MetadataProvider }}
        <!--
          <MetadataProvider type="Dynamic" ignoreTransport="true">
            <Subst>ANSIBLE_VARS/entities/$entityID</Subst>
          </MetadataProvider>
        -->
        <!-- Attribute and trust options you shouldn't need to change. -->
        <AttributeExtractor type="XML" validate="true" path="attribute-map.xml"/>
        <AttributeResolver type="Query" subjectMatch="true"/>
        <AttributeFilter type="XML" validate="true" path="attribute-policy.xml"/>

        <!-- Your SP generated these credentials.  They're used to talk to IdP's. -->
        <CredentialResolver type="File" key="sp-key.pem" certificate="sp-cert.pem"/>

    </ApplicationDefaults>

    <!-- Security policies you shouldn't change unless you know what you're doing. -->
    <SecurityPolicyProvider type="XML" validate="true" path="security-policy.xml"/>

    <!-- Low-level configuration about protocols and bindings available for use. -->
    <ProtocolProvider type="XML" validate="true" reloadChanges="false" path="protocols.xml"/>

</SPConfig>
