[Unit]
Description = Apache Solr
After = syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type = forking
User={{ dataverse.solr.user }}
Group={{ dataverse.solr.group }}
WorkingDirectory = {{ dataverse.solr.root }}
ExecStart = {{ dataverse.solr.root }}/bin/solr start -j "jetty.host={{ dataverse.solr.listen }}"
ExecStop = {{ dataverse.solr.root }}/bin/solr stop
Restart=on-failure
LimitNPROC=65000
LimitNOFILE=65000

[Install]
WantedBy = multi-user.target
