[Unit]
Description = Apache Solr
After = syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type = simple
User={{ dataverse.solr.user }}
Group={{ dataverse.solr.group }}
WorkingDirectory = {{ dataverse.solr.root }}/example
ExecStart = /usr/bin/java -jar -server {{ dataverse.solr.root }}/example/start.jar
Restart=on-failure

[Install]
WantedBy = multi-user.target
